/*
  Wade Roberts
  Github: https://github.com/Wade-Roberts
*/
html {
	font-size: 10px;
	background-image: linear-gradient(0deg, lightgray, gray, lightgray);
}

ul {
	list-style-type: square;
	list-style-position: inside;
	padding: 20px 100px;
}

li {
	font-size: 1.3rem;
	margin-bottom: 8px;
	line-height: 1.5;
}

@media (max-width: 500px) {
	ul {
		padding: 10px 50px;
	}

	li {
		line-height: 1.2;
	}
}

@media (max-width: 300px) {
	ul {
		padding: 5px 25px;
	}

	li {
		line-height: 1.08;
	}
}

@media (min-width: 1600px) {
	ul {
		padding: 20px 400px;
	}

	li {
		font-size: 1.6rem;
	}
}

#title {
	font-size: 3.6rem;
	text-align: center;
}

#title-subtext {
	font-size: 1.6rem;
	text-align: center;
}

#img-div {
	background-color: gray;
	text-align: center;
	border-radius: 11px;
}

#image {
	display: block;
	margin: 0 auto 0 auto;
	max-width: 100%;
	border-radius: 11px 11px 0px 0px;
}

#img-caption {
	font-size: 1.4rem;
}

#tribute-link-div {
	padding: 10px;
	margin: 5px;
	font-size: 1.5rem;
	text-align: center;
}

#tribute-link {
	font-size: 1.6rem;
}
